
{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}


{% block content %}  
<section>
  <div class="row container ml-1 p-1">
    <div class ="imgbox">
      <img src = "{% static 'app/images/back3.jpg'%}">
    </div>
    <div class ="contentbox">
      <div class = "formbox">
        <h2>OUR STORY</h2>
         <p>Welcome to MODELZO, your number one source for all things like clothes, shoes, bags etc. We're dedicated to giving you the very best, with a focus on dependability, customer service and uniqueness.
          Founded in 2021 by MUBEENA .UN.
          
          We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
          
         </p>
      </div>    
    </div>      
  </div>
      
  
  
</section>
    <!--brands-->
<div id="brand" class="container mt-5 pt-1">
  <div class="row mt-0 p-0">
    <img  class="img-fluid col-lg-2 col-md-4 col-6" src="{% static 'app/images/New folder/brand/us polo].jpg'%}" alt="alen">
    <img  class="img-fluid col-lg-2 col-md-4 col-6" src="{% static  'app/images/New folder/brand/titan.jpg' %}" alt="alen">
    <img  class="img-fluid col-lg-2 col-md-4 col-6" src="{% static 'app/images/New folder/brand/1.png' %}" alt="alen">
    <img  class="img-fluid col-lg-2 col-md-4 col-6" src="{% static 'app/images/New folder/brand/2.png' %}" alt="alen">
    <img  class="img-fluid col-lg-2 col-md-4 col-6" src="{% static 'app/images/New folder/brand/3.png' %}" alt="alen">
    <img  class="img-fluid col-lg-2 col-md-4 col-6" src="{% static 'app/images/New folder/brand/4.png' %}" alt="alen">
    <img  class="img-fluid col-lg-2 col-md-4 col-6" src="{% static 'app/images/New folder/brand/5.png' %}" alt="alen">
    <img  class="img-fluid col-lg-2 col-md-4 col-6" src="{% static  'app/images/New folder/brand/6.png' %}" alt="alen">
    <img  class="img-fluid col-lg-2 col-md-4 col-6" src="{% static 'app/images/New folder/brand/rebok.jpg' %}" alt="alen">
    <img  class="img-fluid col-lg-2 col-md-4 col-6" src="{% static 'app/images/New folder/brand/max.png' %}" alt="alen">
    <img  class="img-fluid col-lg-2 col-md-4 col-6" src="{% static 'app/images/New folder/brand/libas.jpg' %}" alt="alen">
    <img  class="img-fluid col-lg-2 col-md-4 col-6" src="{% static 'app/images/New folder/brand/alen.jpg' %}" alt="alen">
   
    
  </div>
 </div>



   
{%endblock content%}    
   