
{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}


{% block content %}
<!--home-->

<div style="background-image: url('{%static 'app/images/sr.jpg' %}');">
<div id ="home">

    <div class ="container">
     
        <h5> WE WITH YOU</h5>
        <h1><span>BE STYLISH & FASHIONABLE</span></h1>
        <p>Shoomatic offers your very comfortable time<br>
         on walking and exercises.</p>
         <button>SHOP NOW</button>
    </div>
  </div>    
</div>

<!-- endhome -->
<!--featured-->
<div id = "featured">
  <div class = "container text-center mt-5">
    <h4>Our Featured</h4>
    <hr class="mx-auto">
    <p>Here you can check out our new products with fair price on modelzo</p>
  </div>
 
  <div class="row  container-fluid">
     
   
  <div class="product text-center col-lg-3 col-md-4 col-12">
    <img class="img-fluid mb-3" src="{% static 'app/images/New folder/featured/3.jpg'%}" alt="bag">
    <div class="star">
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
    </div>
    <h5 class="p-name">Bag</h5>
    <h4 class="p-price">$100.00</h4>
    <button class="buy-btn">Buy Now</button>
  </div>
  <div class="product text-center col-lg-3 col-md-4 col-12">
    <img class="img-fluid mb-3" src="{% static 'app/images/New folder/featured/1.jpg'%}" alt="shoe">
    <div class="star">
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
    </div>
    <h5 class="p-name">Sports Boots</h5>
    <h4 class="p-price">$92.00</h4>
    <button class="buy-btn">Buy Now</button>
  </div>
  <div class="product text-center col-lg-3 col-md-4 col-12">
    <img class="img-fluid mb-3" src="{% static 'app/images/New folder/shop/1.jpg'%}" alt="shirt">
    <div class="star">
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
    </div>
    <h5 class="p-name">T-Shirts</T-Shirts></h5>
    <h4 class="p-price">$150.00</h4>
    <button class="buy-btn">Buy Now</button>
  </div>
  <div class="product text-center col-lg-3 col-md-4 col-12">
    <img class="img-fluid mb-3" src="{% static 'app/images/New folder/new/3.jpg'%}" alt="shoe">
    <div class="star">
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
    </div>
    <h5 class="p-name"> Watches</h5>
    <h4 class="p-price">$200.00</h4>
    <button class="buy-btn">Buy Now</button>
  </div>
 </div>
 <!--end featured-->
 
 
 
 
 
  <!--Watches-->
 
 
 <div id = "Watches" class=" py-5">
  <div class = "container text-center">
    <h4>Branded Watches</h4>
    <hr class="mx-auto">
    <p>Here you can check out our new products with fair price on modelzo</p>
  </div>
 
  <div class="row  container-fluid">
     
   
  <div class="product2 text-center col-lg-3 col-md-4 col-12">
    <img class="img-fluid mb-3" src="{% static 'app/images/New folder/watches/f6.webp'%}" alt="drs">
    <div class="star">
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
    </div>
    <h5 class="p-name">Fastrack For Men</h5>
    <h4 class="p-price">$100.00</h4>
    <button class="buy-btn">Buy Now</button>
  </div>
  <div class="product2 text-center col-lg-3 col-md-4 col-12">
    <img class="img-fluid mb-3" src="{% static 'app/images/New folder/watches/f7.webp'%}" alt="drs">
    <div class="star">
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
    </div>
    <h5 class="p-name">Fastrack For Girl</h5>
    <h4 class="p-price">$150.00</h4>
    <button class="buy-btn">Buy Now</button>
  </div>
  <div class="product2 text-center col-lg-3 col-md-4 col-12">
    <img class="img-fluid mb-3" src="{% static 'app/images/New folder/watches/t7.jpg'%}" alt="drs">
    <div class="star">
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
    </div>
    <h5 class="p-name">Titan For Girl</T-Shirts></h5>
    <h4 class="p-price">$190.00</h4>
    <button class="buy-btn">Buy Now</button>
  </div>
  <div class="product2 text-center col-lg-3 col-md-4 col-12">
    <img class="img-fluid mb-3" src="{% static 'app/images/New folder/watches/t8.jpg'%}" alt="drs">
    <div class="star">
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
    </div>
    <h5 class="p-name">Titan For Men</h5>
    <h4 class="p-price">$200.00</h4>
    <button class="buy-btn">Buy Now</button>
  </div>
 </div>
 
 <!--endwatches-->
 
 
 
 
  <!--clothes-->
 
 <div id = "clothes" class="py-2">
  <div class = "container text-center">
    <h4>Dresses & Jumpsuits</h4>
    <hr class="mx-auto">
    <p>Here you can check out our new products with fair price on modelzo</p>
  </div>
 
  <div class="row  container-fluid">
     
   
  <div class="product1 text-center col-lg-3 col-md-4 col-12">
    <img class="img-fluid mb-3" src="{% static 'app/images/jump.jpg'%}" alt="drs">
    <div class="star">
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
    </div>
    <h5 class="p-name">Jumpsuits</h5>
    <h4 class="p-price">$100.00</h4>
    <button class="buy-btn">Buy Now</button>
  </div>
  <div class="product1 text-center col-lg-3 col-md-4 col-12">
    <img class="img-fluid mb-3" src="{% static 'app/images/dr5.webp'%}" alt="drs">
    <div class="star">
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
    </div>
    <h5 class="p-name">Kurti</h5>
    <h4 class="p-price">$150.00</h4>
    <button class="buy-btn">Buy Now</button>
  </div>
  <div class="product1 text-center col-lg-3 col-md-4 col-12">
    <img class="img-fluid mb-3" src="{% static 'app/images/dres4.jpg'%}" alt="drs">
    <div class="star">
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
    </div>
    <h5 class="p-name">Summer Suits</T-Shirts></h5>
    <h4 class="p-price">$190.00</h4>
    <button class="buy-btn">Buy Now</button>
  </div>
  <div class="product1 text-center col-lg-3 col-md-4 col-12">
    <img class="img-fluid mb-3" src="{% static 'app/images/party.jpg'%}" alt="drs">
    <div class="star">
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
    </div>
    <h5 class="p-name">Party Wear</h5>
    <h4 class="p-price">$200.00</h4>
    <button class="buy-btn">Buy Now</button>
  </div>
 </div>
 <!--endwatches-->
<!--new-->
<div id ="new" class="w-100">
  <div class="row pb-0 mt-5 mb-0">
    <div class="one col-lg-4 col-md-12 col-12 p-0">
      <img class ="img-fluid" src ="{%static 'app/images/New folder/new/rolex.jpg'%}" alt="rolex">
      <div class="centered">
        <h4>Watches Up to 20% off</h4>
        <button>SHOP NOW</button>
      </div>
    </div>
  <div class="one col-lg-4 col-md-12 col-12 p-0">
   <img class ="img-fluid" src ="{% static 'app/images/New folder/new/rings2.jpg' %}" alt="rings">
   <div class="centered">
     <h4>Awesome Blank Outfit</h4>
     <button>SHOP NOW</button>
   </div>
  </div>
  
 <div class="one col-lg-4 col-md-12 col-12 p-0 ">
   <img class ="img-fluid" src ="{% static 'app/images/New folder/new/1..jpg'%}" alt="sneakers">
    <div class="centered">
     <h4>Extreme Rare Sneakers</h4>
     <button>SHOP NOW</button>
   </div>
 </div>
 </div>
</div>
<!--end new-->
<footer class="m-0 p-0">
  <div class="row container mx-auto pt-5">
    <div class ="footer-one col-lg-3 col-md-6 col-12">
      <h3>MODELZO.</h3>
      <p>Be stylish and fashionable with us. we will always with you to live in a fashoinable world. A wonderful offers and magical things awaiting for you.</p> 
    </div>
     <div class ="footer-one col-lg-3 col-md-6 col-12  ml-5 pt-6 mt-2 ">
       <h5>We accept</h5><br>
      <img src="{% static 'app/images/New folder/payment.png'%}">   
     </div>

    
     <div class ="footer-one col-lg-3 col-md-6 col-12 ml-5 pt-6 mt-2">
      <h5 class="pb-3">Follow Us</h5>
      
      <a href="#"> <i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"> <i class="fab fa-instagram"> </i></a>
      <br><br>
              <h6><p>modelzo eCommerce @ MUBEENA UN @ 2021 . All Rights Reserved</p></h6>
    </div>
    </div>
</div>  
</footer>
{%endblock content%}
